
* {
    font-family: "Quicksand", sans-serif;
}

body { background: rgb(136,207,212);
    background: linear-gradient(0deg, rgba(136,207,212,1) 19%, rgba(132,203,170,1) 100%); 
}

#logo {
    border-radius: 50%;
    width: 12rem;
    height: 12rem;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 50px;
}


h1 {
    color: white;
        font-size: 20px;
        font-weight: 100px;
        margin-bottom: 50px;
       
     }
      

 img #logo {
     height: 300px;
     width: 300px;
     margin-bottom: 30px;
     margin-top: 30px;
     margin-left: auto;
     margin-right: auto;
     text-align: center;
     }
 
 .profileWrapper {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 100%;
    border: solid rgb(194, 194, 194) 1px;
 }
 
 #profilePic {
    height: 150px;
    width: 150px;
    border: 1px solid #1E8188;
    border-radius: 50%;

 }

 .addButton {
    background-color: #16A2B8;
    border: rgb(255, 255, 255); 
    border-radius: 50%;
    color: white; 
    padding: 4px 12px; 
    font-size: 25px; 
    cursor: pointer;
    position: relative;
    top: 1%;
    left: 40%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
 }

 .addButton:hover {
    background-color:#1e818841;
 }

 
     .btn-outline-secondary {
         margin-top: 100px;
         width: 120px;
         padding-top: 5px;
         padding-bottom: 5px;
         color:#16A2B8;
         border-color:#16A2B8;
         margin-bottom: 16rem;
         
     }

     .btn-outline-secondary:hover {
        background-color:#1e818841;
     }