
body { background: rgb(136,207,212);
    background: linear-gradient(0deg, rgba(136,207,212,1) 19%, rgba(132,203,170,1) 100%); 
}

* {
   
   box-sizing: border-box;
   font-family: "Quicksand", sans-serif;

}

body {
    background-color: #0e0e0e;
    color:#0e0e0e;
}

#h1 {
    margin-top: 30px;
}

h1 {
    text-align: center;
    color: white;
    margin-bottom: 50px;
    margin-top: 30px;
    font-size: 20;
}


#top {
    background-color: white;
    margin-bottom: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
    text-align: center;
    align-items: center;
}

#bottom {
    background-color:#1E8188;
    margin-bottom: 30px;
    margin-top: 70px;
    margin-left: auto;
    margin-right: auto;
    width: 70rem;
    text-align: center;
    align-items: center;
    
}

html {
    font-size: 62.5%;
}

.container {
    width: 100%;
    margin-top: 50;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar {
    width: 70rem;
    height: 52rem;
    margin-top: 40px;

}

.month {
    width: 100%;
    height: 12rem;
    background-color: none;
    border: solid #1E8188 2px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    text-align: center;
    text-shadow: 0 0.1rem 0.3rem rgba(0,0,0,0.5);
    border-radius: 5px;

}

.month i {
    font-size: 2.5rem;
    cursor: pointer;
}

.month h3 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1rem;
}

.month p {
    font-size: 1.6rem;
}

.weekdays {
    width: 200%;
    height: 5rem;
    padding: 0 0.4rem;
    display:flex;
    align-items: center;
}

.weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    width: calc(69.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.1rem 0.2rem rgba(0,0,0,0.5);
}

.days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding: 0.2rem;
}

.days div {
    font-size: 1.6rem;
    font-weight: bold;
    color:#1E8188;
    margin: 0.5rem;
    width: calc(61.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0.01rem 0.02rem rgba(0,0,0,0.5);
    transition: background-color 0.2s;
}

.prev-date, .next-date {
    opacity: 0.5;
}

.today {
  border-radius: 5px;
  border: 1px solid #1E8188;
    cursor: pointer;
}

.today:hover {
    background-color:#1e818841;
    border-color:#1E8188;
}

.days div:hover:not(.today) {
    border-radius: 5px;
    border: 1px solid #1E8188;
      cursor: pointer;
    
}

.moodBlockWrapper {
    width: 70rem;
    height: 25rem;
    background-color: none;

    padding: 0 2rem;
    text-align: center;
    justify-content: center;
    border-radius: 5px;
    margin-left: auto;
    margin-right: auto;
}

.moodNumbers {
    width: 100%;
    padding: 0.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    

}

.moodNumbers div {
 color: white;
 font-size: 2.5rem;
    font-weight: 400;
    width: calc(79.2rem/7);
    display: flex;
    justify-content: center;
    align-items: center;

}

.moodBlocks {
    color:#1E8188;
    width: 100%;
    display: inline-block;
}

.moodBlocks div {
    width: 7rem;
    background-color: white;
    height: 1rem;
    margin: 2rem;
    display: inline-block;
}

#great {
    background-color: #72C850;
    border: 1px solid #477535
}

#good {
    background-color: #DDF83B;
    border: 1px solid #6a7720

}
#meh {
    background-color: #FFC539;
    border: 1px solid #a77e21
}

#bad {
    background-color: #FF6F00;
    border: 1px solid #a75415
}

#awful {
    background-color: #FF6660;
    border: 1px solid #973936;
}