* {
    font-family: "Quicksand", sans-serif;
}

body { background: rgb(136,207,212);
    background: linear-gradient(0deg, rgba(136,207,212,1) 19%, rgba(132,203,170,1) 100%); 
}

h1 {
    color: #ffffff;
        font-size: 20px;
        font-weight: 100px;
        margin-top: 50px;
        margin-bottom: 20px;
     }
 
 .profileWrapper {
    height: 150px;
    width: 150px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 30px;
 }
 
 #profilePic {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    border: 1px #1E8188 solid;

 }
 
     .btn-outline-secondary {
         margin-top: 40px;
         width: 120px;
         padding-top: 5px;
         padding-bottom: 5px;
         color:#16A2B8;
         border-color:#16A2B8;
         margin-bottom: 26rem;
         
     }

     .btn-outline-secondary:hover {
        background-color:#1e818841;
     }
         

