* {
    font-family: "Quicksand", sans-serif;
 }

 body { background: rgb(136,207,212);
    background: linear-gradient(0deg, rgba(136,207,212,1) 19%, rgba(132,203,170,1) 100%); 
}


h1 {
    color: #ffffff;
    margin-top: 75px;
    margin-bottom: 75px;
    }

    h2 {
        margin: 25px;
    }

        .flashcard {
            box-shadow: 3px 3px 5px#1E8188;
            width: 50%;
            max-width: 600px;
            background: #ffffff;
            color: rgb(2, 2, 2);
            border-radius: 30px;
            border: 1px solid #1E8188;
            text-align: center;
            padding: 3em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        
        }

        .flashButton {
                background-color:#1E8188;
                border: none; 
                border-radius: 50%;
                color: white; 
                padding: 6px 12px; 
                font-size: 25px; 
                cursor: pointer; 
              }
              
              .flashButton:hover {
                background-color: #1e818841;
        }

       .flashcardBody {
           font-size: large;
           text-align: center;
       }



    #freeStylingBtn {
        color: white;
        background-color: #1E8188;
        border-radius: 30px;
        width: 50%;
        height: 6rem;
        border: 1px solid#1E8188;
        margin-bottom: 17rem;
    }

    #freeStylingBtn:hover {
        background-color: #1e818841;
    }