* {
    font-family: "Quicksand", sans-serif;
 }


html, body { margin: 0; padding: 0; }

.navbar navbar-expand-lg navbar-light bg-light {
    position: fixed;
    margin: 0;
    left: 0;
    right: 0;
    width: 100%;
}

h1 {
    color: #ffffff;
    margin-top: 75px;
    margin-bottom: 75px;
    }

    h2 {
        margin: 25px;
    }

        .flashcard {
            box-shadow: 0 0 5px #bfbfbf;
            width: 50%;
            max-width: 600px;
            background: #343232;
            color: rgb(255, 255, 255);
            border-radius: 30px;
            text-align: center;
            padding: 3em;
            display: block;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 30px;
        
        }

        .flashButton {
                background-color: #16A2B8;
                border: none; 
                border-radius: 50%;
                color: white; 
                padding: 6px 12px; 
                font-size: 25px; 
                cursor: pointer; 
              }
              
              .flashButton:hover {
                background-color: #1e818841;
        }

       .flashcardBody {
           font-size: large;
           text-align: center;
       }



    #freeStylingBtn {
        color: white;
        background-color:#16A2B8;
        border-radius: 30px;
        width: 50%;
        height: 6rem;
        border: 1px solid #16A2B8;
    }

    #freeStylingBtn:hover {
        background-color: #1e818841;
    }