* {
   font-family: "Quicksand", sans-serif;
}

h1 {
    color: #ffffff;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align:center;
     }

h2 {
    color: white;
    font-size: 20px;
    font-weight: 100px;
    margin-bottom: 40px;
  
    text-align:center;
        }


 .profileWrapper {
   height: 250px;
   width: 350px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-radius: 100%;
    border: solid rgb(0, 0, 0) 1px;
    margin-top: 30px;
    text-align:center;
 }
 
 #profilePic {
   height: 250px;
   width: 350px;
    border-radius: 50%;
    text-align:center;

 }

 .goalsList {
     background-color:#2A2828;
     border-radius: 25px;
     border: 1px solid gainsboro;
     width: 550px;
     margin-left: auto;
     margin-right: auto;
     overflow-y:auto;
     height: 300px;
    
 }

 .form-check {
    color: rgb(255, 255, 255);
    background-color: #2A2828;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 60%;
 }

hr {
    background-color:#dddddd;
    margin: 0px 0px;
}

 input[type=checkbox] {
    display: block;
    padding-left: 20px;
    margin-left: -40px;
 }
 .form-check label:first-of-type {
    margin-left: 20px;
 }

 .btn-outline-secondary {
   width: 120px;
   padding-top: 5px;
   padding-bottom: 5px;
   color:#1E8188;
   border-color: #1E8188;
   margin-top: 2rem;
   margin-left: 0.5rem;
   margin-right: 0.5rem;
}

.btn-outline-secondary:hover {
   background-color:#1e818841;
}

#addGoalBtn {
      width: 150px;
      display: inline-block;
}

#addGoalBtn:hover {
   background-color:#1e818841;
   color: white;

}


#addText {
   background-color: #2A2828;
   border-radius:5px;
   border: 1px solid white;
   color: white;
   display: inline-block;
   width: 90%;
   
}

#nameSubmit {
   margin-bottom: 1rem;
   display: block;
   margin-left: auto;
   margin-right: auto;
}