h1 {
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 20;

}

body { background: rgb(136,207,212);
    background: linear-gradient(0deg, rgba(136,207,212,1) 19%, rgba(132,203,170,1) 100%); }

.h1Tag {
    margin-top: 30px;
    margin-bottom: 50px;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

.container {
text-align: center;
}

.activityWrapper {
    width: 55rem;
    height: 35rem;
    margin-top: 50;
    color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    padding: 2rem;
    border: 1.8px solid #1E8188;
    margin-left: auto;
    margin-right: auto;
}

.activities {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #c7d3d3;
    margin: 2rem;
    text-align: center;
    border: 1px solid#1E8188;

}

.activities i {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.fas { 
    width: 2rem;
    height: 2rem;
    text-align: center;
    color: white;

}

.activities p {
    color: white;
}

.activities:hover {
    background-color:#1e818841;
}


.addButton {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    background-color: #1E8188;
    margin: 2rem;
    display: flex;
    justify-content: center;
    text-align: center;
    border:#1E8188 1px solid;
    margin-left: auto;
    margin-right: auto;
}

.addButton:hover {
    background-color:#1e818841;
}

hr {
    width: 55rem;
    background-color: #1E8188;
    margin-left: auto;
    margin-right: auto;
}

.addNote {
    margin-top: 2rem;
}


.addNote textarea {
    background: #ffffff;
    border-radius: 8px;
    border: 1px #1E8188 solid;
    width: 35rem;
    height: 2.5rem;
    padding: 0.5rem;
    color: rgb(26, 26, 26);

}

.photo {
    margin-top: 2rem;
}


.photo button {
    width: 35rem;
    height: 2.5rem;
    border-radius: 8px;
    border: 1px solid #1E8188;
    color: white;
    background: #1E8188;
    text-align: center;

}

.addPhotoBtn:hover {
    background-color:#1e818841;
}
.btn-outline-secondary {
    margin: 30px;
    width: 120px;
    padding-top: 5px;
    padding-bottom: 5px;
    color:#1E8188;
    border-color: #1E8188;
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
 
 .btn-outline-secondary:hover {
    background-color:#1e818841;
 }

 #submitBtn {
     color: #1E8188;
     border: 1px solid #1E8188;
 }
 
 #submitBtn:hover {
    background-color:#1e818841;